<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lainakoodarit</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- <link href="css/style.css" rel="stylesheet"/> -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% load static %}
    <script src="{% static 'js/products.js' %}" defer></script>
    <script src="{% static 'js/carousel.js' %}" defer></script>
  </head>
  <body class="min-h-screen min-h-[100svh] flex flex-col justify-between">
    <nav class="w-full max-w-[1000px] mx-auto flex justify-between p-5">
      <div class="flex gap-x-2 justify-center items-end">
        <a href="{% url 'borrow:index' %}" class="text-center text-xl font-bold">Borrow System</a>
        <p class="text-center opacity-75 hidden sm:block">| Lainakoodarit</p>
      </div>
      <ul class="flex gap-x-5">
        <li>
          <a href="{% url 'borrow:product' %}">Books</a>
        </li>
        <li>Music</li>
        <li>Movies</li>
      </ul>
    </nav>

    <div>
      {% block content %}
      {% endblock %}
    </div>

    <footer class="bg-red-400 p-5">
      <div class="mx-auto max-w-3xl flex gap-x-10 justify-between">
        <p class="font-semibold">&copy; Team Lainakoodarit</p>
        <div class="flex gap-x-5">
          <a href="https://github.com/AleksiHel" target="_blank" class="transition-all hover:opacity-50">Aleksi Hellgren</a>
          <a href="https://github.com/sakuexe" target="_blank" class="transition-all hover:opacity-50">Saku Karttunen</a>
          <a href="https://github.com/Waisatifi" target="_blank" class="transition-all hover:opacity-50">Wais Atifi</a>
        </div>
      </div>
    </footer>
  </body>
</html>
