{% extends "./base.html" %}
{% block content %}
<main class="grid md:grid-flow-col grid-cols-5 gap-x-5 px-5 max-w-[1200px] mx-auto">
  <!-- search form -->
  <form action="" class="col-span-6 md:col-span-2 grid grid-flow-row gap-y-2 shadow-lg rounded-lg p-5">
    {% csrf_token %}
    <div class="flex flex-col">
      <label for="seach_name">Search name</label>
      <input type="text" name="search_name" id="search_name"
      class="px-2 py-1 outline outline-1 outline-red-400 rounded hover:outline-2 focus:outline-2"/>
    </div>
    <div class="flex flex-col">
      <label for="seach_year">Search year</label>
      <input type="text" name="search_year" id="search_year"
      class="px-2 py-1 outline outline-1 outline-red-400 rounded hover:outline-2 focus:outline-2"/>
    </div>
    <div class="flex flex-col">
      <label for="seach_author">Search author</label>
      <input type="text" name="search_author" id="search_author"
      class="px-2 py-1 outline outline-1 outline-red-400 rounded hover:outline-2 focus:outline-2"/>
    </div>
    <div class="flex gap-x-2">
      <label for="category_books" class="select-none">Books</label>
      <input type="checkbox" name="category_books" id="category_books" value="search_books"/>
      <label for="category_music" class="select-none">Music</label>
      <input type="checkbox" name="category_music" id="category_music" value="search_music"/>
      <label for="category_movies" class="select-none">Movies</label>
      <input type="checkbox" name="category_movies" id="category_movies" value="search_movies"/>
    </div>
    <button type="submit" class="bg-red-400 text-neutral-100 font-semibold w-20 px-4 py-2 rounded
      transition-all hover:text-neutral-900 active:brightness-75">Search</button>
  </form>
  <!-- user guide -->
  <div class="col-span-5 flex flex-col justify-center md:col-span-3">
    <div>
      <h2 class="text-lg text-center font-semibold">Guide</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Labore assumenda beatae inventore ratione expedita eum atque aspernatur 
        cum animi laborum, culpa dolorum quasi fuga minus tempora officiis! Tempora, deleniti sit.
      </p>
    </div>
  </div>
</main>

<!-- most recent additions -->
<section class="max-w-[1200px] mx-auto mt-10 px-5">
  <h3 class="font-semibold mb-2">Recent additions</h3>
  <ul class="carousel grid grid-flow-col text-center pb-4 overflow-auto gap-x-4">
    {% for listing in listings %}
    <li class="select-none">
      {% load static %}
      <div class="aspect-square w-[200px] overflow-hidden relative group">
        <img src="{% static listing.thumbnail %}" alt="{{ listing.title }} - thumbnail" width="300" height="300"
          draggable="false"
        class="object-cover aspect-square transition-all group-hover:scale-110"/>
        <p class="absolute bottom-0 right-1/2 translate-x-1/2 py-2 bg-[#404040AA] w-full text-neutral-100 truncate
          opacity-0 transition-all group-hover:opacity-100">{{ listing.genre }}</p>
      </div>
      <p class="text-sm max-w-[200px] truncate">{{ listing.title }}</p>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}
