{% extends "base.html" %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}
<article class="max-w-[1200px] mx-auto">
  <!-- product category in the database -->
  <p class="my-2 mx-5 xl:mx-0">
    <a href="">{{ product.category }}</a> &gt; <a href="">{{product.genre}}</a>
  </p>
  <div class="grid md:grid-cols-4 gap-y-8">
    <div class="md:col-span-2 bg-neutral-400">
      {% load static %}
      <!-- Product image -->
      <div class="img-container w-full h-full overflow-hidden relative">
        <img src="{% static product.thumbnail_path %}" alt="product image" width="300" height="200"
          class="object-cover h-full w-full transition-all hover:scale-110"/>
      </div>
    </div>
    <!-- product info -->
    <div class="px-10 md:col-span-2">
      <div class="product-card shadow-lg border-red-400 h-full rounded-lg p-4
        flex flex-col gap-y-5">
        <div class="prouct-header">
          <h1 class="text-2xl font-bold">{{ product.name }}</h1>
          <p class="opacity-50 font-semibold">{{product.category}}</p>
        </div>
        <!-- <hr class="my-5 border-neutral-300"/> -->
        <!-- creator info -->
        <div class="product-creator flex items-center gap-x-5">
          <h2 class="font-semibold">Author:</h2>
          <h2>{{ product.author }}</h2>
        </div>
        {% if available %}
        <button class="bg-red-400 py-2 px-4 rounded text-neutral-100 font-semibold 
          transition-all hover:text-neutral-900 active:scale-90">Loan this</button>
        {% else %}
        <button class="bg-black py-2 px-4 rounded text-neutral-100 font-semibold opacity-50
          transition-all">Unavailable</button>
        <p class="text-center -translate-y-5">* No copies available currently</p>
        {% endif %}
      </div>
    </div>
  </div>
</article>

<!-- description -->
<article class="max-w-[1000px] mx-auto my-10 px-5 sm:px-10">
  <h3 class="font-semibold text-center">Description</h3>
  <p id="description" class="line-clamp-3 my-2 inline">{{ product.description }}</p>
  <hr id="description_line" class="my-5 border-neutral-300"/>
  <button id="readmore" class="underline block mx-auto">Read more</button>
</article>

<!-- additional information -->
<section class="max-w-[700px] mx-auto my-8 px-5">
  <h3 class="font-semibold text-center mb-5">Additional information</h3>
  <div class="grid grid-cols-2 mx-auto gap-y-6 gap-x-5 sm:grid-cols-3">
    {% if product.release_date %}
    <div class="flex flex-col gap-x-2 items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Date added</h4>
        <img src="{% static 'icons/date_added.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
        <!-- <i class="bi bi-calendar-plus-fill text-xl"></i> -->
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.release_date }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product.tags %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Tags</h4>
        <img src="{% static 'icons/tag.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.tags|join:", " }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product.language %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Language</h4>
        <img src="{% static 'icons/language.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.language }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Availability</h4>
        <img src="{% static 'icons/storage.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5 mx-auto">
        <p class="justify-center">
          {{ available }} / {{ product.amount }}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
