{% extends "base.html" %}
{% block title %}{{ product.name }} - {{ product.category }}{% endblock %}
{% block content %}
<article class="max-w-[1200px] mx-auto">
  <!-- product category in the database -->
  <p class="my-2 mx-5 xl:mx-0">
    <a href="{% url 'borrow:list' %}?category={{ product.category }}">
      {{ product.category|title }}</a> &gt; <a href="">{{ product.genre|title }}
    </a>
  </p>
  <div class="grid md:grid-cols-4 gap-y-8">
    <div class="md:col-span-2 bg-neutral-400">
      {% load static %}

      <!-- Product image -->
      <div class="img-container w-full aspect-[4/3] overflow-hidden relative group">
        <a href="{{ product.image.url }}">
          {% if product.image %}
          <img src="{{ product.image.url }}" alt="product image" width="300" height="200"
            class="object-cover h-full w-full transition-all hover:scale-110"/>
          {% else %}
          <img src="{% static product.image %}" alt="product image" width="300" height="200"
            class="object-cover h-full w-full transition-all hover:scale-110"/>
          {% endif %}
        </a>
        <p class="absolute bottom-0 right-1/2 translate-x-1/2 
          py-3 px-4 w-full text-white text-center bg-[#40404055] transition-all opacity-0
          group-hover:underline group-hover:opacity-100">
          View full image
        </p>
      </div>
    </div>

    <!-- product info -->
    <div class="px-10 flex items-center md:col-span-2">
      <div class="product-card shadow-lg w-full rounded-lg p-4
        flex flex-col gap-y-5">
        <div class="prouct-header">
          <h1 class="text-2xl font-bold">{{ product.name }}</h1>
          <p class="opacity-50 font-semibold">{{ product.category|title }}</p>
        </div>
        <!-- <hr class="my-5 border-neutral-300"/> -->
        <!-- creator info -->
        <div class="product-creator flex items-center gap-x-5">
          <h2 class="font-semibold">Author:</h2>
          <p>
            {% for author in product.author.all %}
            {{ author.author_name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
          </p>
        </div>
        {% if available %}
        <button class="bg-red-400 py-2 px-4 rounded text-white font-semibold 
          transition-all hover:text-neutral-900 active:scale-90">Loan this</button>
        {% else %}
        <button class="bg-black py-2 px-4 rounded text-neutral-100 font-semibold opacity-50
          transition-all">Unavailable</button>
        <p class="text-center -translate-y-5">* No copies available currently</p>
        {% endif %}
      </div>
    </div>
  </div>
</article>

<!-- description -->
<article class="max-w-[1000px] mx-auto my-10 px-5 sm:px-10">
  <h3 class="font-semibold text-center">Description</h3>
  <div class="my-2 space-y-4" id="description">
    {{ product.description|linebreaks }}
  </div>
  <hr id="description_line" class="my-5 border-neutral-300"/>
  <button id="readmore" class="underline block mx-auto">Read more</button>
</article>

<!-- additional information -->
<section class="max-w-[700px] mx-auto my-8 px-5">
  <h3 class="font-semibold text-center mb-5">Additional information</h3>
  <div class="grid grid-cols-2 mx-auto gap-y-6 gap-x-5 sm:grid-cols-3">
    {% if product.date_added %}
    <div class="flex flex-col gap-x-2 items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Date added</h4>
        <img src="{% static 'icons/date_added.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
        <!-- <i class="bi bi-calendar-plus-fill text-xl"></i> -->
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.date_added }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product.tags %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Tags</h4>
        <img src="{% static 'icons/tag.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.tags|join:", " }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product.language %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Language</h4>
        <img src="{% static 'icons/language.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5">
        <p class="justify-center">
          {{ product.language }}
        </p>
      </div>
    </div>
    {% endif %}
    {% if product %}
    <div class="flex flex-col gap-x-2 justify-evenly items-center">
      <!-- icon -->
      <div class="text-center">
        <h4 class="mb-2 font-semibold">Availability</h4>
        <img src="{% static 'icons/storage.svg' %}" alt="tags -icon" width="30" height="30"
        class="mx-auto"/>
      </div>
      <!-- content -->
      <div class="flex gap-x-5 mx-auto">
        <p class="justify-center">
          {{ available }} / {{ product.amount }}
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</section>
{% endblock %}
