{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<section class="w-96 px-5 max-w-[1200px] mx-auto">
  <!-- search form -->
  <form  method="post" class="bg-slate-200 col-span-6 md:col-span-2 p-8 gap-y-2 shadow-lg rounded-lg p-5">
    {% csrf_token %}
      <div class="flex flex-col">
        <table>
        {{ form.as_table }}
        </table>
        
    </div>
    <p class=' text-blue-600 text-center'><a href="{% url 'signup' %}">Create a new Account</a></p>
    <button type="submit" class=" bg-red-400 text-neutral-100 font-semibold w-20 px-4 py-2 rounded
      transition-all hover:text-neutral-900 active:brightness-75">Login</button>
  </form>
   
  <!-- user guide -->
 
</section>
{% endblock %}