{% extends 'base.html' %}
{% block content %}
<section class=" px-5 max-w-[1200px] mx-auto">
    <form method="post" novalidate class="bg-slate-200 col-span-6 md:col-span-2 p-8 gap-y-2 shadow-lg rounded-lg p-5">
        {% csrf_token %}
        <h2>Sign up</h2>
        <div class="flex flex-col">
            <table>
            {{ form.as_table }}
            </table>
            <button type="submit" class="bg-red-400 text-neutral-100 font-semibold px-4 py-2 rounded
      transition-all hover:text-neutral-900 active:brightness-75">Create an account</button>
          </form>
        </div>
</section>
{% endblock %}
